
<footer class="hidden-xs ">
    <div class="col-xs-12 container pie-de-pagina">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-inline">
                    <li><p class="copyright text-muted small texto-plomo">Empresa minera sudamericana andina S.R.L  - 2014</p>
                    </li>
                </ul>
            </div>
            <div>
                <div class="design-footer col-xs-4 background-blue"></div>
                <div class="design-footer col-xs-4 background-green"></div>
                <div class="design-footer col-xs-4 background-orange"></div>
            </div>
        </div>
    </div>
</footer>