
    <div id="carousel-images" class="carousel slide col-xs-12" data-ride="carousel" ng-init="efectoCarousel()">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-images" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-images" data-slide-to="1"></li>
            <li data-target="#carousel-images" data-slide-to="2"></li>
            <li data-target="#carousel-images" data-slide-to="3"></li>
            <li data-target="#carousel-images" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="../../images/imag1.png" alt="Imag 1" class="center-block" width="100%">
                <div class="carousel-caption "  >
                    <h3>¿Quienes somos?</h3>
                    <p>Quienes somos</p>
                </div>
            </div>


            <div class="item">
                <img src="../../images/imag2.png" alt="Imag 2" class="center-block" width="100%">
                <div class="carousel-caption ">
                    <h3>¿Que hacemos?</h3>
                    <p>Que hacemos</p>
                </div>
            </div>


            <div class="item">
                <img src="../../images/imag3.png" alt="Imag 3" class="center-block" width="100%">
                <div class="carousel-caption">
                    <h3>Vison</h3>
                    <p>Nuestra Vision</p>
                </div>
            </div>


            <div class="item">
                <img src="../../images/imag4.png" alt="Imag 4" class="center-block" width="100%">
                <div class="carousel-caption">
                    <h3>Mision</h3>
                    <p>Nuestra Mision</p>
                </div>
            </div>


            <div class="item">
                <img src="../../images/imag5.png" alt="Imag 2" class="center-block" width="52%" >
                <div class="carousel-caption ">
                    <h3>Imag 3</h3>
                    <p>Esta es la imagen 3</p>
                </div>
            </div>

        </div>

    </div>

    <div class="col-xs-12"  >
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">Cotización de minerales</div>

                <!-- Table -->
                <table class="table">
                    <tr class="texto-azul">
                        <th>Mineral</th>
                        <th>Unidad</th>
                        <th>Baja</th>
                        <th>Alta</th>
                    </tr>
                    <tr>
                        <td>Estaño</td>
                        <td>Sn</td>
                        <td>23.5</td>
                        <td>23.5</td>
                    </tr>

                    <tr>
                        <td>Estaño</td>
                        <td>Sn</td>
                        <td>23.5</td>
                        <td>23.5</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

            